<h1 class="heading1">KYC Form</h1>
<mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
  <!-- Step 1 START -->
  <mat-step [stepControl]="firstFormGroup" label="Personal Details">
    <form [formGroup]="firstFormGroup">

      <div class="row-AG-r1-1">
        <p class="label">Name of Applicant:</p>

        <mat-form-field class="sal-AG" style="margin-inline: 1rem;">
          <mat-label>Title</mat-label>
          <mat-select>
            <mat-option value="option">Mr.</mat-option>
            <mat-option value="option">Mrs.</mat-option>
            <mat-option value="option">Miss.</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>First Name</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>MiddleName</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Last Name</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div class="row-AG-r1-2">
        <mat-form-field class="input-email">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com">
        </mat-form-field>


        <mat-form-field class="input-add-r1">
          <mat-label>Enter phoneNumber</mat-label>
          <input matInput placeholder="Contact No.: 9876543210">
        </mat-form-field>

        <span class="label">Gender:</span>
        <mat-radio-group aria-label="Select an option" class="input-add-r1">
          <mat-radio-button value="1">Male</mat-radio-button>
          <mat-radio-button value="2">Female</mat-radio-button>
          <mat-radio-button value="3">Others</mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="input-add-r1">
          <mat-label>Nationality</mat-label>
          <input matInput>
        </mat-form-field>

      </div>

      <div class="back-next">
        <button mat-button matStepperNext>Next</button>
      </div>

    </form>
  </mat-step>
  <!-- Step 1 END -->
  <!-- Step 2 START -->
  <mat-step [stepControl]="secondFormGroup" label="Address Details">
    <form [formGroup]="secondFormGroup">
      <h1 class="heading"> A. Permanent Address</h1>

      <div class="row-AG-r2">
        <mat-form-field class="input-add-r1">
          <mat-label>House Number</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>House Name</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Society</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Locality</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Street</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>City</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>State</mat-label>
          <input matInput placeholder="E.g. Maharashtra">
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Pincode</mat-label>
          <input matInput placeholder="400706">
        </mat-form-field>

      </div>


      <h1 class="heading"> B. Local Address</h1>


      <div class="row-AG-r2">
        <mat-form-field class="input-add-r1">
          <mat-label>House Number</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>House Name</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Society</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Locality</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Street</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>City</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>State</mat-label>
          <input matInput placeholder="E.g. Maharashtra">
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Pincode</mat-label>
          <input matInput placeholder="400706">
        </mat-form-field>

      </div>
      <div class="back-next">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!-- Step 2 END -->

  <!-- Step 3 START -->
  <mat-step [stepControl]="thirdFormGroup" label="Family Details">
    <form [formGroup]="thirdFormGroup">

      <div class="row-AG-r3">
        <p class="label">Father's Name:</p>
        <mat-form-field class="input-add-r1" style="margin-left: 1rem;">
          <mat-label>First Name</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>MiddleName</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Last Name</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div class="row-AG-r3">
        <p class="label">Mother's Name:</p>
        <mat-form-field class="input-add-r1" style="margin-left: 1rem;">
          <mat-label>First Name</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>MiddleName</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Last Name</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div class="row-AG-r3">
        <p class="label">Spouse's Name:</p>

        <mat-form-field class="sal-AG" style="margin-inline: 1rem;">
          <mat-label>Title</mat-label>
          <mat-select>
            <mat-option value="option">Mr.</mat-option>
            <mat-option value="option">Mrs.</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>First Name</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>MiddleName</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Last Name</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

      <div class="back-next">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>

    </form>
  </mat-step>
  <!-- Step 3 END -->

  <!-- Step 4 START -->
  <mat-step [stepControl]="thirdFormGroup" label="Upload Documents">
    <!-- <ng-template matStepLabel>Done</ng-template> -->
    <form [formGroup]="thirdFormGroup">
      <p>Upload the required documents here.</p>
      <input id="input-file-id" multiple type="file" />
      <p>You are done now.</p>
      <div class="back-next">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </form>
  </mat-step>
  <!-- Step 4 END -->

</mat-stepper>