<h1 class="heading1">KYC Form</h1>
<mat-stepper class="example-stepper" linear [orientation]="(stepperOrientation | async)!">
  <!-- Step 1 START -->
  <mat-step [stepControl]="firstFormGroup" completed="false" label="Personal Details" errorMessage="Please fill the required fields.">
    <form [formGroup]="firstFormGroup" class="famdet" (ngSubmit)="onFormSubmit()">

      <div class="row-AG-r1-1">
        <p class="label">Name of Applicant:</p>

        <mat-form-field class="sal-AG" style="margin-inline: 1rem;">
          <mat-label>Title</mat-label>
          <mat-select formControlName="title" placeholder="Mr." required>  
            <mat-option value="option">Mr.</mat-option>
            <mat-option value="option">Mrs.</mat-option>    
            <mat-option value="option">Miss.</mat-option>
          </mat-select>
          <mat-error *ngIf="firstFormGroup.get('title')">Title is required</mat-error>
        </mat-form-field>  

        <mat-form-field class="input-add-r1">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="firstName" placeholder="Enter FirstName" required maxlength="30">
          <!-- <mat-error *ngIf="firstFormGroup.get('firstName')">FirstName is required</mat-error>  -->
          <mat-error *ngIf="firstFormGroup.get('firstName')?.errors?.['required']">FirstName is required</mat-error>
          <mat-error *ngIf="firstFormGroup.get('firstName') !== null && firstFormGroup.get('firstName')?.errors?.['pattern']">Only alphabets are allowed</mat-error> 
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Middle Name</mat-label>
          <input matInput placeholder="Enter MiddleName">
          <!-- <mat-error *ngIf="firstFormGroup.get('middleName')">middleName is required</mat-error>  -->
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" placeholder="Enter LastName" required minlength="2" maxlength="30">
          <mat-error *ngIf="firstFormGroup.get('lastName')?.errors?.['required']">LastName is required</mat-error>
          <mat-error *ngIf="firstFormGroup.get('lastName') !== null && firstFormGroup.get('lastName')?.errors?.['pattern']">Only alphabets are allowed</mat-error> 
        </mat-form-field>
      </div>

      <div class="row-AG-r1-2">
        <p class="label">Other Details :</p>
        <mat-form-field class="input-email">
          <mat-label>Enter your email</mat-label>
          <input matInput formControlName="email" placeholder="Enter email id" required>
          <mat-error *ngIf="firstFormGroup.get('email')?.errors?.['required']">EmailId is required</mat-error>
          <mat-error *ngIf="firstFormGroup.get('email') !== null && firstFormGroup.get('email')?.errors?.['email']">Invalid email format</mat-error> 
        </mat-form-field>


        <mat-form-field class="input-add-r1">
          <mat-label>Enter Mobile Number</mat-label>
          <input matInput formControlName="phoneno" placeholder="e.g. 9876543210" required minlength="10" maxlength="10">
          <mat-error *ngIf="firstFormGroup.get('phoneno')?.errors?.['required']">Mobile Number is required</mat-error>
          <mat-error *ngIf="firstFormGroup.get('phoneno') !== null && firstFormGroup.get('phoneno')?.errors?.['pattern']">Invalid mobile number format</mat-error>
          <!-- <div *ngIf="firstFormGroup.hasError['pattern']">Enter Valid phone no</div>       -->
          </mat-form-field>  
  
        <mat-form-field class="input-add-r1">
          <mat-label>Nationality</mat-label>
          <input matInput formControlName="nationality" placeholder="e.g. Indian" required>
          <mat-error *ngIf="firstFormGroup.get('nationality')">Nationality is required</mat-error> 
        </mat-form-field>

      </div>

      <div class="row-AG-r1-3">
        
        <span class="label radio-AG">Gender:</span>
        <mat-radio-group aria-label="Select an option" >
          <mat-radio-button value="1">Male</mat-radio-button>
          <mat-radio-button value="2">Female</mat-radio-button>
          <mat-radio-button value="3">Others</mat-radio-button>
         </mat-radio-group>
      </div>

      <div class="back-next">
        <!-- <button mat-button matStepperNext>Next</button> -->
         <button type="button" [disabled]="!firstFormGroup.valid" mat-button matStepperNext (ngSubmit)="onFormSubmit()">Next</button> 
      </div>

    </form>
  </mat-step>
  <!-- Step 1 END -->
  <!-- Step 2 START -->
  <mat-step [stepControl]="secondFormGroup" completed="false" label="Address Details"  errorMessage="Please fill the required fields.">
    <form [formGroup]="secondFormGroup" class="famdet">
      <h1 class="heading"> A. Permanent Address</h1>

      <div class="row-AG-r2">
        <mat-form-field class="input-add-r1">
          <mat-label>House Number</mat-label>
          <input matInput formControlName="houseno" placeholder="Enter House no." required>
          <mat-error *ngIf="secondFormGroup.get('houseno')?.errors?.['required']">House number is required</mat-error>
          <mat-error *ngIf="secondFormGroup.get('houseno') !== null && secondFormGroup.get('houseno')?.errors?.['pattern']">Only numbers are allowed</mat-error>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>House Name</mat-label>
          <input matInput placeholder="Enter HouseName">
          <!-- <mat-error *ngIf="secondFormGroup.get('housename')">House Name. is required</mat-error>  -->
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Society</mat-label>
          <input matInput placeholder="Enter Society">
          <!-- <mat-error *ngIf="secondFormGroup.get('society')">Society is required</mat-error>  -->
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Locality</mat-label>
          <input matInput placeholder="Enter Locality">
          <!-- <mat-error *ngIf="secondFormGroup.get('locality')">Locality is required</mat-error>  -->
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Street</mat-label>
          <input matInput placeholder="Enter Street">
          <!-- <mat-error *ngIf="secondFormGroup.get('street')">Street is required</mat-error>  -->
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>City</mat-label>
          <input matInput formControlName="city" placeholder="Ex. Mumbai" required>
          <mat-error *ngIf="secondFormGroup.get('city')">City is required</mat-error> 
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>State</mat-label>
          <input matInput formControlName="state" placeholder="Ex. Maharashtra" required>
          <mat-error *ngIf="secondFormGroup.get('state')">State is required</mat-error> 
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Pincode</mat-label>
          <input matInput formControlName="pincode" placeholder="Ex. 400700" required minlength="6" maxlength="6" pattern="[0-9]*">
          <mat-error *ngIf="secondFormGroup.get('pincode')?.errors?.['required']">Pincode is required</mat-error>
          <mat-error *ngIf="secondFormGroup.get('pincode') !== null && secondFormGroup.get('pincode')?.errors?.['pattern']">Please enter valid pincode</mat-error>
        </mat-form-field>

      </div>


      <h1 class="heading"> B. Local Address</h1>


      <div class="row-AG-r2">
        <mat-form-field class="input-add-r1">
          <mat-label>House Number</mat-label>
          <input matInput formControlName="houseno1" placeholder="Ex. 400700" required>
          <mat-error *ngIf="secondFormGroup.get('houseno1')?.errors?.['required']">House number is required</mat-error>
          <mat-error *ngIf="secondFormGroup.get('houseno1') !== null && secondFormGroup.get('houseno1')?.errors?.['pattern']">Only numbers are allowed</mat-error>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>House Name</mat-label>
          <input matInput placeholder="Entre HouseName">
          <!-- <mat-error *ngIf="secondFormGroup.get('housename1')">House name is required</mat-error> -->
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Society</mat-label>
          <input matInput placeholder="Enter Society">
          <!-- <mat-error *ngIf="secondFormGroup.get('society1')">Society is required</mat-error> -->
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Locality</mat-label>
          <input matInput placeholder="Enter Locality">
          <!-- <mat-error *ngIf="secondFormGroup.get('locality1')">Locality is required</mat-error> -->
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Street</mat-label>
          <input matInput placeholder="Enter Street">
          <!-- <mat-error *ngIf="secondFormGroup.get('street1')">Street is required</mat-error> -->
         </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>City</mat-label>
          <input matInput formControlName="city1" placeholder="Ex. Mumbai" required>
          <mat-error *ngIf="secondFormGroup.get('city1')">City is required</mat-error>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>State</mat-label>
          <input matInput formControlName="state1" placeholder="Ex. Maharashtra" required>
          <mat-error *ngIf="secondFormGroup.get('state1')">State is required</mat-error>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Pincode</mat-label>
          <input matInput formControlName="pincode1" placeholder="Ex. 400700" required minlength="6" maxlength="6" pattern="[0-9]*">
          <mat-error *ngIf="secondFormGroup.get('pincode1')?.errors?.['required']">Pincode is required</mat-error>
          <mat-error *ngIf="secondFormGroup.get('pincode1') !== null && secondFormGroup.get('pincode1')?.errors?.['pattern']">Please enter valid pincode</mat-error>
        </mat-form-field>

      </div>
      <div class="back-next">
        <button mat-button matStepperPrevious>Back</button>
        <!-- <button mat-button matStepperNext>Next</button> -->
        <button type="button" [disabled]="!secondFormGroup.valid" mat-button matStepperNext (ngSubmit)="onFormSubmit()">Next</button> 
      </div>
    </form>
  </mat-step>
  <!-- Step 2 END -->

  <!-- Step 3 START -->
  <mat-step [stepControl]="thirdFormGroup" completed="false" label="Family Details"  errorMessage="Please fill the required fields.">
    <form [formGroup]="thirdFormGroup" class="famdet">

      <div class="row-AG-r3">
        <p class="label">Father's Name:</p>
        <mat-form-field class="input-add-r1" style="margin-left: 1rem;">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="f_fname" placeholder="Enter FirstName" required maxlength="30">
          <mat-error *ngIf="thirdFormGroup.get('f_fname')?.errors?.['required']">FirstName is required</mat-error>
          <mat-error *ngIf="thirdFormGroup.get('f_fname') !== null && thirdFormGroup.get('f_fname')?.errors?.['pattern']">Only alphabets are allowed</mat-error>  
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>MiddleName</mat-label>
          <input matInput placeholder="Enter MiddleName">
          <!-- <mat-error *ngIf="thirdFormGroup.get('f_mname')">MiddleName is required</mat-error>   -->
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="f_lname" placeholder="Enter LastName" required maxlength="30">
          <mat-error *ngIf="thirdFormGroup.get('f_lname')?.errors?.['required']">LastName is required</mat-error>
          <mat-error *ngIf="thirdFormGroup.get('f_lname') !== null && thirdFormGroup.get('f_lname')?.errors?.['pattern']">Only alphabets are allowed</mat-error>  
        </mat-form-field>
      </div>

      <div class="row-AG-r3">
        <p class="label">Mother's Name:</p>
        <mat-form-field class="input-add-r1" style="margin-left: 1rem;">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="m_fname" placeholder="Enter FirstName" required maxlength="30">
          <mat-error *ngIf="thirdFormGroup.get('m_fname')?.errors?.['required']">FirstName is required</mat-error>
          <mat-error *ngIf="thirdFormGroup.get('m_fname') !== null && thirdFormGroup.get('m_fname')?.errors?.['pattern']">Only alphabets are allowed</mat-error>   
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>MiddleName</mat-label>
          <input matInput placeholder="Enter MiddleName">
          <!-- <mat-error *ngIf="thirdFormGroup.get('m_mname')">MiddleName is required</mat-error>   -->
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="m_lname" placeholder="Enter LastName" required maxlength="30">
          <mat-error *ngIf="thirdFormGroup.get('m_lname')?.errors?.['required']">LastName is required</mat-error>
          <mat-error *ngIf="thirdFormGroup.get('m_lname') !== null && thirdFormGroup.get('m_lname')?.errors?.['pattern']">Only alphabets are allowed</mat-error>   
        </mat-form-field>
      </div>

      <div class="row-AG-r3">
        <p class="label">Spouse's Name:</p>

        <mat-form-field class="sal-AG" style="margin-inline: 1rem;">
          <mat-label>Title</mat-label>
          <mat-select formControlName="s_title" placeholder="Mr." required>
            <mat-option value="option">Mr.</mat-option>
            <mat-option value="option">Mrs.</mat-option>
          </mat-select>
          <mat-error *ngIf="thirdFormGroup.get('s_title')">Title is required</mat-error>
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="s_fname" placeholder="Enter FirstName" required maxlength="30">
          <mat-error *ngIf="thirdFormGroup.get('s_fname')?.errors?.['required']">FirstName is required</mat-error>
          <mat-error *ngIf="thirdFormGroup.get('s_fname') !== null && thirdFormGroup.get('s_fname')?.errors?.['pattern']">Only alphabets are allowed</mat-error>     
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>MiddleName</mat-label>
          <input matInput placeholder="Enter MiddleName">
          <!-- <mat-error *ngIf="thirdFormGroup.get('m_lname')">MiddleName is required</mat-error>   -->
        </mat-form-field>

        <mat-form-field class="input-add-r1">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="s_lname" placeholder="Enter LastName" required maxlength="30">
          <mat-error *ngIf="thirdFormGroup.get('s_lname')?.errors?.['required']">LastName is required</mat-error>
          <mat-error *ngIf="thirdFormGroup.get('s_lname') !== null && thirdFormGroup.get('s_lname')?.errors?.['pattern']">Only alphabets are allowed</mat-error>     
        </mat-form-field>
      </div>
  
      <div class="back-next">
        <button mat-button matStepperPrevious>Back</button>
        <!-- <button mat-button matStepperNext>Next</button> -->  
        <button type="button" [disabled]="!thirdFormGroup.valid" mat-button matStepperNext (ngSubmit)="onFormSubmit()">Next</button> 
      </div>

    </form>
  </mat-step>
  <!-- Step 3 END -->

  <!-- Step 4 START -->
  <mat-step [stepControl]="fourthFormGroup" completed="false" label="Upload Documents"  errorMessage="Please upload the required documents.">
    <!-- <ng-template matStepLabel>Done</ng-template> -->
    <form [formGroup]="fourthFormGroup" class="famdet">
        <div class="uploadDoc">
            <div class="up1">
                <p>Upload Identity Proof</p>
                <input id="input-file-id" formControlName="identity_proof" multiple type="file"  accept=".jpeg, .jpg, .png" required/>  
                <mat-error *ngIf="fourthFormGroup.get('identity_proof')?.errors?.['required']">Identity Proof is required</mat-error>
              </div>
            <div class="up1">
                <p>Upload Address Proof</p>
                <input id="input-file-id" formControlName="address_proof" multiple type="file"  accept=".jpeg, .jpg, .png"/>
                <mat-error *ngIf="fourthFormGroup.get('address_proof')?.errors?.['required']">Address Proof is required</mat-error>
            </div>
            <div class="up1">
                <p>Upload Image</p>
                <input id="input-file-id" formControlName="upload_image" multiple type="file"  accept=".jpeg, .jpg, .png"/>
                <mat-error *ngIf="fourthFormGroup.get('upload_image')?.errors?.['required']">Upload Image is required</mat-error>
            </div>
       </div>
        <div class="back-next">
            <button mat-button matStepperPrevious>Back</button>
            <!-- <button mat-raised-button color="primary" type="submit" (click)="onFormSubmit()">Submit</button> -->
            <button type="submit" [disabled]="!fourthFormGroup.valid" mat-raised-button color="primary" (click)="onFormSubmit()">Submit</button> 
          </div>
      
    </form>
  </mat-step>
  <!-- Step 4 END -->

</mat-stepper>