
  <div class="row">
    
    <form>
     
      <div class="card">
        <div class="container">
          <div class="col-lg-12">
          <h4 class="heading1">KYC Form</h4> 
          <h1 class="heading">Personal details</h1> 
          <h3>Name of applicant</h3>
          <div class="col-lg-6"></div>
          <label for="fname">First name:</label><br>
          <input type="text" id="fname" name="fname" value=""><br>
          <label for="mname">Middle name:</label><br>
          <input type="text" id="mname" name="mname" value=""><br>
          <label for="lname">Last name:</label><br>
          <input type="text" id="lname" name="lname" value=""><br><br>
         </div>
         <div class="col-lg-12"> 
          <h3> Father's/Spouse's Name</h3>
          <div class="col-lg-6"></div>
          <label for="fname">First name:</label><br>
          <input type="text" id="fname" name="fname" value=""><br>
          <label for="lname">Last name:</label><br>
          <input type="text" id="lname" name="lname" value=""><br><br>
         </div>
         <div class="col-lg-12"> 
            <label for="gender"><h3>Gender</h3></label>
            <input type="radio" id="male" name="male" value="male">
            <label for="html">Male</label>
            <input type="radio" id="female" name="female" value="female">
            <label for="html">Female</label>
            <input type="radio" id="other" name="other" value="other">
            <label for="html">Other</label>
          <div>
           <label for="dateOfBirth"><h3>Date of Birth</h3></label>
           <input type="date" id="dateOfBirth" name="dateOfBirth"required>
          </div>
           <!-- <div> -->
         <label for="nationality"><h3>Nationality</h3></label>
         <select name="nationality" id="nationality">
         <option value="Indian">Indian</option>
         <option value="United States">United States</option>
         <option value="Albania">Albania</option>
         <option value="Algeria">Algeria</option>
         </select>
         
            </div> 
            
        </div>
        <div class="container">
        <h1 class="heading2">Address details</h1> 
         <!-- <h3 class="sub">Address for Correspondence</h3> -->
        <!-- <div class="col-lg-12">
          <input type="text" id="address" name="address" value=""><br> -->
        <div class="col-lg-6"></div>
        <label for="sname"> Street Address</label><br>
        <input type="text" id="sname" name="sname" value=""><br>
        <label for="cname">City</label><br>
        <input type="text" id="cname" name="cname" value=""><br>
        <label for="stname"> State</label><br>
        <select name="stname" id="stname">
          <option value="Select State">Select State</option>
          <option value="Maharashtra">Maharashtra</option>
          <option value="Bihar">Bihar</option>
          <option value="UP">UP</option>
          <option value="Haryana">Haryana</option>
        </select> <br>
        <!-- <input type="text" id="sname" name="sname" value=""><br> -->
        <label for="pinname"> PinCode</label><br>
        <input type="text" id="pinname" name="pinname" value=""><br>
        <label for="coname"> Country</label><br>
        <select name="coname" id="coname">
          <option value="Select Country">Select Country</option>
          <option value="Indian">Indian</option>
          <option value="Canada">Canada</option>
          <option value="Germany">Germany</option>
          <option value="United States">United States</option>
        </select> <br>
        <!-- <input type="text" id="coname" name="coname" value=""><br> -->
       </div>
         
       <div class="Header">
        <h1 class="heading3">File Upload 
      </h1>
        
      </div>
      <div>
        <button type="submit" class="submit-button" value="Submit">submit</button>
        </div>
      <!-- <div class="container">
        <div class="col-lg-12">
          <button type="button"  data-component="button" data-content="">Submit</button>
    
           </div> -->
        </div>
        
    </form>
    
  </div> 

  
