
<div class="heading-1">Moderation Portal</div>

<div class="container">
    <div class="left-side">
        
      
        <label for="imageSelect" class="document-word">Document:</label>
        <select class="drop-down" id="imageSelect" [(ngModel)]="selectedImage">
        <option *ngFor="let image of imageOptions" [value]="image" >{{ image }} </option>
        </select>
        <br>
        <img class="display-doc" [src]="selectedImage" alt="Selected Image" width="200">


        <p>{{ imageDetails[selectedImage] }}</p>     <!--description--> 
        
        
    </div>
    <div class="right-side">
      <h2 class="heading">Form Details</h2>
      
    </div>

</div>